[project]
	description = aggregation of the most OAuth services
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Johnson Jiang (lizwjiang)
[access "refs/for/refs/*"]
	read = group user/Johnson Jiang (lizwjiang)
	push = group user/Johnson Jiang (lizwjiang)
	label-Code-Review = -2..+2 group user/Johnson Jiang (lizwjiang)
	label-Verified = -1..+1 group user/Johnson Jiang (lizwjiang)
	rebase = group user/Johnson Jiang (lizwjiang)
	removeReviewer = group user/Johnson Jiang (lizwjiang)
	submit = group user/Johnson Jiang (lizwjiang)
[access "refs/heads/*"]
	read = group user/Johnson Jiang (lizwjiang)
	create = group user/Johnson Jiang (lizwjiang)
	push = +force group user/Johnson Jiang (lizwjiang)
	pushMerge = group user/Johnson Jiang (lizwjiang)
[access "refs/tags/*"]
	push = +force group user/Johnson Jiang (lizwjiang)
	pushTag = group user/Johnson Jiang (lizwjiang)
	pushSignedTag = group user/Johnson Jiang (lizwjiang)
